*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
#Home{
    height:100vh;
    background: linear-gradient(#00000041,#00000042),url(/home/kavya/Downloads/s1.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    display:flex;
    align-items:center;
}
.button{
    font-family: Arial;
    border:0;
    padding: 14px 38px;
}
.button-brand{
    color:white;
    font-weight: 500;
    border-color:#0095cf;
    background-color:#0095cf;
}
.button-brand:hover{
    border-color:#0345c0;
    background-color: #0345c0;
    color:white;
}
.social-icons{
  list-style: none; 
}
.social-container{
    position:absolute;
    right:40px;
    bottom:20%;
}
.social-icons li{
    margin:35px 0;
}
.social-icons li i{
    color:white;
    font-size: 50px;
}
.social-icons li a:hover i{
    transform: scale(1.5);
    color: rgb(38, 119, 241);
    transition: all .2s ease-in-out;
}
